<!DOCTYPE html>
<html>
  <head>
    <title>BlogGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <ul>
        <li> <%= link_to "View All Blogs", blogs_path%><li>
          
          <% if user_signed_in? %>
          <li> <%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <li> <%= link_to "Create New Blog", new_blog_path %> </li>
          <% else %>
          
          <% end %>
  </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
